<a href="https://colab.research.google.com/github/sherryzarei/Python/blob/main/CONDITIONS_AND_OPERATIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CONDITIONAL STATEMENTS**

*   EQUALITY OPERATORS AND TESTS

In [ ]:
mB1 = True
mB2 = False
num1 = 10
num2 = 20
num3 = 30
s1 = "Hello"
s2 = "Bye"

print(mB1 == True)
print(mB2 == False)
print(mB2 != False)
print(mB1 == mB2)
print(mB1 != mB2)

print("")

print(s1 == s2)
print(s1 == "Hello")
print(s1 != s2)

print("")

print(num1 == 10)
print(num1 == 15)
print(num1 == num2)
print(num1 != num2)
print(num1 + num2 == num3)
print(num1 == num2 + num3)

*   RELATIONAL OPERATORS AND TESTS

In [ ]:
num1 = 10
num2 = 20
num3 = 30
c1 = 'T'
c2 = 'W'

print(num1 > 10)
print(num1 > num2)
print(num1 <= 20)
print(num1 >= 15)

print("")

print(c1 <= 'C')
print(c1 > 'R')
print(c1 > c2)

print("")

print(c2 > 'T')
print(c2 >= 'X')
print(c2 > c1)

print("")

print(num1 < 20)
print(num2 > num1)
print(num2 >= 10)
print(num2 <= 15)

print("")

print(num1 + num2 > num3)
print(num1 - num2 < num3)
print(num2 / num3 < num1)
print(num2 * num3 < num3)

*   LOGICAL OPERATORS AND TESTS

  1.   AND OPERATOR

In [ ]:
mark = 75
print(mark >= 70 and mark <=80)
mark1 = 50
mark2 = 70
mark3 = 90
print(mark1 < mark2 and mark2 < mark3)

  2.   OR OPERATOR

In [ ]:
color = "red"
print(color == "red" or color == "blue" or color == "green")
color = "blue"
print(len(color) > 5 or color == "red")
color = "orange"
print('a' in color or len(color) == 2)

  3.   NOT OPERATOR

In [ ]:
mark = 60
print(not mark == 60)

trueOfFalse = True
print(not trueOfFalse)

*   IF STATEMENTS

  1.   ONE-WAY IF STATEMENTS

In [ ]:
myBool = True
if myBool :
  print("success")

  2.   TWO-WAY IF STATEMENTS

In [ ]:
i = -1
if i < 0 :
  print("Number is negative")
else :
  print("Number is non-negative")

In [ ]:
i = -1
if i < 0 :
  print("Number is negative")
  print("It is winter")
else :
  print("Number is non-negative")
  print("It is summer")

  3.   MULTI-WAY IF STATEMENTS

In [ ]:
i = 4

if i == 0
  print("first")
elif i > 0 and i < 4:
  print("second")
elif i > 3 and i != 5:
  print("third")
else:
  print("fourth")

In [24]:
#No Output
i = 0
if i > 0:
  print("first")
elif i < 0:
  print("second")

*   NESTED IF STATEMENTS

In [ ]:
hourlyEmployee = True
hours = 50
bonus = 0
yearsEmployed = 5

if hourlyEmployee == True:
  if hours > 40:
    bonus = 500
  else:
    if yearsEmployed > 10:
      bonus = 300
    else:
      bonus = 200

print("hourlyEmployee: ", hourlyEmployee, "\n hours: ",
      hours, "\n bonus: ", bonus,  "\n yearEmployed: ", yearsEmployed)

*   Comprehensive If Statement Example

In [ ]:
number = int(input("Enter number: "))

if number > 0:
  print("Your number is greater than 0")
elif number == 0:
  print("Your number is 0")
else:
  print("Your number is less than 0")

*   COMPACTED IF STATEMENTS (TERNARY OPERATOR)

In [ ]:
examScore = 90
grade = 'A' if examScore > 89 else 'C'
print(grade)

In [ ]:
timeAtSite = 3.5
charges = 100.00 if timeAtSite < 2.0 \
  else timeAtSite * 50.00;
print(charges)

*   ORDER OF OPERATIONS

In [34]:
value1 = 10
value2 = 20
value3 = 30
value4 = 40
value5 = 50

if value1 > value2 or value3 == 10 and value4 + 5 < value5:
  print("The expression evaluates to TRUE")
else:
  print("The expression evaluates Flase")

The expression evaluates Flase