<a href="https://colab.research.google.com/github/sherryzarei/Python/blob/main/dataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WORKING WITH DATA TYPES AND VARIABLES**

In [ ]:
num1 = 1994
num2 = 29
print(num1)
print(num2)

In [ ]:
f1_1 = 24.23
f1_2 = 6238.233
print(f1_1)
print(f1_2)

In [ ]:
print(True)
print(False)

In [ ]:
bool_1 = True
bool_2 = False
print(bool_1)
print(bool_2)

In [ ]:
print(12.3)
print(0.1)

In [ ]:
print ("My name is Sherry")
print ('I study computer programming')

In [ ]:
str1 = "c412"
str2 = "Python"
print (str1)
print (str2)

In [ ]:
name = "Sherry"
number = 888
isStudent = True

**Arithmetic Operators**

In [ ]:
print(1+2)
print(9-2)
print(3*3)
print(2*3)
print(12/3)
print(12//3)
print(20%3)
print(2**4)

In [ ]:
num1 = 8
num2 = 2
print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

**Compound Assignment Operators**

In [ ]:
num1 = 12
num2 = 4
num1+=7
print(num1)
num1-=num2
print(num1)
num2*=2
print(num2)
num2*=num1
print(num2)

**Order of Precedence**

In [ ]:
a = -2
b = 10
c = 30
d = 20
e = (a + b) * c / d
print(e)
e+= ((a + b) * c) / d
print(e)

**CONCATENATION & SPLITTING STATEMENTS**

In [ ]:
print("Hello" + " " + "World")

In [ ]:
str1 = "Hello"
str2 = "World"
num1 = 5
print(str1 + " " + str2)
#print("Hello" + 1)
#print(str1 + num1)

**Splitting Statements**

In [ ]:
print("Hello "\
      "There "\
      "From "\
      "Multiple "\
      "Lines")

Hello There From Multiple Lines

In [ ]:
print("Hello "+
      "There "+
      "From "+
      "Multiple \r"+
      "Lines")

Lines

ESCAPE CHARACTERS & COMMENTS

In [ ]:
print("\n")
print("\r")
print("\'")
print("\"")
print("\\")

#This is a comment

there
'
"
\

**COMMON PYTHON FUNCTIONS**

In [ ]:
print("Hello", "World", "From", "Python")

In [ ]:
print("Hello", True, 3232, 923,3)

In [ ]:
print("Hello", "World", "From", "Python", sep='\t')

In [ ]:
print("Hello", True, 324, 23.32, sep='\t', end='\t---End---')

In [ ]:
input()
input("Enter your name")
input("enter number")

In [ ]:
user_input = input()
name = input("Enter your name")
number = input("enter number")

In [ ]:
str_from_number = str(1)
print(str_from_number)
str_from_boolean = str(True)
str_from_float = str(212.32)
float_from_int = float(2)
print(float_from_int)
float_from_str = float("32.32")
print(float_from_str)
float_from_boolean = int(True)
print(float_from_boolean)
int_from_boolean = int(False)
print(int_from_boolean)
int_from_str_1 = int("1232")
#int_from_str_2 = int("122.2")

In [ ]:
print(round(123.34))
print(round(12.23, 1))

In [ ]:
a = "Hello World"
print(len(a))

**FORMAT OUTPUT**

In [ ]:
print("The price is ${:0.2f}.".format(19.9))

In [ ]:
print("The price is ${val:0.2f}.".format(val=19.9))

In [ ]:
shoes = 2
socks = 1.5
str1 = "I have {0:d} pairs of shoes and " \
       "{1:9.1f} pairs of socks".format(shoes, socks)

str2 = "I have {0:d} pairs of shoes and " \
       "{1:f} pairs of socks".format(shoes, socks)

str3 = "I have {numShoes:d} pairs of shoes and " \
       "{numSocks:8.2f} pairs of socks" \
       .format(numShoes=shoes, numSocks=socks)

str4 = "I have {0:d} pairs of shoes and " \
       "{1:.1f} pairs of socks".format(shoes, socks)

str5 = "I have {numShoes:d} pairs of shoes and " \
       "{numSocks:19.1f} pairs of socks" \
       .format(numShoes=shoes, numSocks=socks)

str6 = "I have {:1d} pairs of shoes and " \
       "{:.2f} pairs of socks".format(shoes, socks)

str7 = "I have {0:1d} pairs of shoes and " \
       "{1:.3f} pairs of socks".format(shoes, socks)

str8 = "I have {numShoes:3d} pairs of shoes and " \
       "{numSocks:.4f} pairs of socks" \
       .format(numShoes=shoes, numSocks=socks)

str9 = "I have {:1d} pairs of shoes and " \
       "{:8.1f} pairs of socks".format(shoes, socks)


str10 = "I have {numShoes:1d} pairs of shoes and" \
        "{numSocks:8.1f} pairs of socks".format(numShoes=shoes, numSocks=socks)


print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
print()
print(str6)
print(str7)
print(str8)
print(str9)
print(str10)

**WIDTH SPECIFIER**

In [ ]:
print("Left Spacing".ljust(50))

In [ ]:
print("Left Spacing".center(65,'*'))

In [ ]:
print( "True".rjust(45), "Middle".ljust(20,"'"), "Right Spacing".center(50,"-") )

print( "Left Spacing".center(15,'#'), "Middle".ljust(10,'|'), "Right Spacing".center(17,'*') )

Type Error==> will have an error

In [ ]:
print("1" - 1)
a = 12 / "3"

TypeError: unsupported operand type(s) for -: 'str' and 'int'